.user {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
 
}

.user-list {
    display: flex;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid darkslateblue;
    border-radius: 10px;
    width: 500px;
}
.t {
    text-transform: capitalize;
}
